.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
}

form div + div {
  margin-top: 1em;
}

label {
  display: block;
  margin-bottom: .5em;
  color: #333333;
}

input, textarea {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #2e8555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #48c07e;
}

/* src/components/SupportMessage.module.css */
.supportMessage {
  width: 100%;
  text-align: center;
  background-color: #ffcccc; /* Adjust to match your site's style */
  padding: 10px 0;
  color: #000; /* Adjust to match your site's style */
  font-weight: bold;
}
