.supportMessage {
    width: 100%;
    text-align: center;
    background-color: #2e8555 ;/* Adjust to match your site's style */
    padding: 10px 0;
    color: white; /* Adjust to match your site's style */
    font-weight: bold;
  }
  /* src/components/SliderComponent.css */

.slider-container {
  width: 80%;
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
