.supportMessage {
    width: 100%;
    text-align: center;
    background-color: #2e8555 ;/* Adjust to match your site's style */
    padding: 10px 0;
    color: white; /* Adjust to match your site's style */
    font-weight: bold;
  }
  /* src/components/SliderComponent.css */

.slider-container {
  width: 50%;
  margin-bottom: 50px !important;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
}

.slick-prev:before{
  color: red !important;

}
.slider-item{
font-size: 25px;
}

.slick-prev,
.slick-next {
  color: red !important;
  border: 2px solid red !important;
  background-color: transparent;
}

.slick-prev:hover,
.slick-next:hover {
  color: white !important;
  background-color: red !important;
}
.slick-prev:before,
.slick-next:before {
  color: red; /* Change the color to red */
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: white; /* Change the color to white on hover */
  background-color: red; /* Add background color red on hover */
}
